.div-cart-listing{
    /* border: 1px solid red; */
    max-width: 1000px;
    margin:auto;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* border:1px solid red; */
    /* order:2; */
  }
  .card {
    /* max-width: 200px; */
    max-width: 300px;
    border:1px solid var(--border-color);
    font-family: inherit;    
  }
  .product-details{
padding: 0.5rem;

  }
.btn-add{
    border-radius: none;
}
.icon-cancel {
  position: absolute;
  top: 0.25rem;
  right: 00.25rem;
  color: var(--white);
}

  