.product-listing,
.cart-listing {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  top: 4rem;
  max-width: 70%;
  margin: auto;
  margin-top: 2rem;
  /* order:2; */
}

/**card*/
.card {
  /* max-width: 200px; */
  max-width: 208px;
  border:1px solid var(--border-color); 
}
.card-content{
  flex-grow: 1;
  text-align: left;
}

.card img {
  width: 100%;
  height: auto;
}
.div-brand-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.para-price{
  font-family: inherit;
  margin:0;
  
}
.price {
margin: 0.2rem 0 0.2rem 0;
}
.card-text{
  text-align: left;
}
.heading{
  text-align: left;
}
.product-section{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
aside{
    display: flex;
    flex-direction: column;
    margin-top: 6.5em;
    margin-left: 2rem;
    padding: 1rem;

    border: 1px solid var(--border-color);
}

aside label{
  font-size: 0.85rem;
  text-align: left;
}
.filter-heading{
  text-align: left;
  margin:0;
  padding: .25rem;
  font-size: 1rem;
}

.btn {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
}
.btn-disabled{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border:1px solid var(--border-color);
  color: var(--grey-text-color);
    
}
.btn-disabled:hover{
  cursor: no-drop;
  opacity:none;
}
.added-icon{
  font-size: 1rem;
  margin-left:0.25rem;
}
@media screen and (max-width : 768px){
    aside{
        display: none;
    }
    
}

