.hero{
    margin-top: 5rem;

}

.hero p{
    font-size: 2rem;
    margin:1rem;
    padding:1rem;
    color : #9CA3AF;
   
    display: block;
    text-align: center;

}
.hero img{
    width: 100%;
    height:50vh;
    
}
.image-container{
    width: 100%;
    
    
}
.button-home{
   padding: 0.5rem;
   max-width: 10rem;
   margin: auto;
   text-decoration: none;
}
.button-home a{
    text-decoration: none;
    color:var(--white)
}