.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 4rem;
    max-width: 100%;
    font-family: inherit;
    
    
}
.navbar-item{
    margin:1rem;
}
.navbar-item a{
    text-decoration: none;

}
.navbar-item a:hover{
    cursor: pointer;
}
